:root {

    /*цвета*/
    --background_main_page: rgb(226, 226, 226);
    --header_color: #009aad;
    --text_color: #000000;

    /*размеры шрифтов*/
    --header_font_size: 24px;
    --font_size_ntf_text_and_lessons_title: calc(var(--header_font_size) * (11/12));
    --font_size_records_title: calc(var(--header_font_size) * (10/12));
    --preheader_font_size: calc(var(--header_font_size) * (9/12));
    --text_font_size: calc(var(--header_font_size) * (8/12));
    --font_size_records_text: calc(var(--header_font_size) * (7/12));
    --projects_font_size: calc(var(--header_font_size) * (6/12));

    /*Отспуты*/
    --top_forms_header: 10px;
    --left_forms_header: 16px;
    --top_forms_preheader: 50px;
    --left_forms_preheader: 250px;
    --p_beet_clicks: 255px;

    --top_lessons_title: 60px;
    --top_lessons_text: 90px;

    --top_ntf_text: 70px;
    --left_ntf_text: 20px;

    --top_records_video_and_title: 30%;
    --left_records_video: 5%;
    --top_records_text: 135px;
    --top_records_date: 185px;
    --left_records_description: 45%;

    --top_projects_ptoho: 60px;
    --left_projects_ptoho: 30px;
    --top_projects_text: 135px;
    --left_projects_text: 18px;
}
/*------------------Стили для текста на странице-----------------------------*/
.absolute{
    position: absolute;
}
.form_header{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: var(--header_font_size);
    color: var(--header_color);
    top: var(--top_forms_header);
    left: var(--left_forms_header);
}
.form_text{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: var(--text_font_size);
    color: var(--text_color);
}
/*---------------------------------------------------------------------------*/
#main_page {
    flex: 1;
    background-color: var(--background_main_page);
    display: flex;
}
#main_content {
    height: 87%;
    width: 100%;
    padding: 4%;
    display: grid;
    grid-template-columns: 1fr 1.7fr 1.35fr;
    grid-template-rows: 1.25fr 1fr 2fr;
    gap: 4% 4%;
    grid-auto-flow: row;
    
    grid-template-areas:
        "progress progress ntf"
        "lessons projects ntf"
        "msg msg records"
    
    }
#main_content > * {
    background-position: none;
    position: relative;
    object-fit: inherit;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
}
#main_content  * {
    box-sizing: border-box;
}

/*------------------Отступы для формы ближайшие уроки------------------------*/
.lessons_text{
    width: 96%;
    text-align: right;
}
#lessons_title{
    top: var(--top_lessons_title);
    font-size: var(--font_size_ntf_text_and_lessons_title);
    text-decoration: underline;
}
#lessons_text{
    top: var(--top_lessons_text);
    line-height: 1.3rem;
}
/*---------------------------------------------------------------------------*/

#forms_preheader{
    top: var(--top_forms_preheader);
    left: var(--left_forms_preheader);
    font-size: var(--preheader_font_size);
}

/*------------------Отступы для названий загаловков форм---------------------*/
#forms_header_records{
    left: calc(var(--left_forms_header) + 150px);
}
#forms_header_msg{
    left: calc(var(--left_forms_header) + var(--p_beet_clicks));
}
#forms_header_msg_2{
    left: calc(var(--left_forms_header) + var(--p_beet_clicks) * 2);
}
/*---------------------------------------------------------------------------*/

/*------------------Отступы для формы уведомления----------------------------*/
#ntf_text{
    top: var(--top_ntf_text);
    left: var(--left_ntf_text);
    font-size: var(--font_size_ntf_text_and_lessons_title);
    width: 90%;
    font-weight: 600;
    font-family: "Alegreya";
    line-height: 1.5rem;
}
/*---------------------------------------------------------------------------*/

/*------------------Отступы для формы запись занятий-------------------------*/
.records_video{
    top: var(--top_records_video_and_title);
    left: var(--left_records_video);
}
#records_video2{
    top: calc(var(--top_records_video_and_title) + 34%);
}
.records_description{
    left: var(--left_records_description);
    font-size: var(--font_size_records_text);
    width: 50%;
    text-align: left;
    font-weight: 600;
}
.records_title{
    font-size: var(--font_size_records_title);
    font-weight: 700;
    top: var(--top_records_video_and_title);
}
#records_title_2{
    top: calc(var(--top_records_video_and_title) + 34%);
}
.records_text{
    line-height: 1.2rem;
    top: var(--top_records_text);
}
#records_text_2{
    top: calc(var(--top_records_text) + 34%);
}
#records_date{
    top: var(--top_records_date);
}
#records_date_2{
    top: calc(var(--top_records_date) + 34%);
}
/*---------------------------------------------------------------------------*/

/*------------------Отступы для формы ваши проекты---------------------------*/
.projects_block{
}
.projects_photo{
    top: var(--top_projects_ptoho);
    left: var(--left_projects_ptoho);
    width: 51px;
    height: 68px;
}
.projects_text{
    font-size: var(--projects_font_size);
    top: var(--top_projects_text);
    left: var(--left_projects_text);
}
#projects_photo_2{
    left: calc(var(--left_projects_ptoho) + 20%);
}
#projects_text_2{
    left: calc(var(--left_projects_text) + 20%);
}
#projects_photo_3{
    left: calc(var(--left_projects_ptoho) + (20% * 2));
}
#projects_text_3{
    left: calc(var(--left_projects_text) + (20% * 2));
}
#projects_photo_4{
    left: calc(var(--left_projects_ptoho) + (20% * 3));
}
#projects_text_4{
    left: calc(var(--left_projects_text) + (20% * 3));
}
#projects_photo_5{
    left: calc(var(--left_projects_ptoho) + (20% * 4));
}
#projects_text_5{
    left: calc(var(--left_projects_text) + (20% * 4));
}

/*---------------------------------------------------------------------------*/
#main_content > #ntf > img{ 
    width: 100%;
    height: 400px;
}
#main_content > #msg > img{ 
    width: 100%;
    height: 332px;
}
#main_content > #lessons > img{ 
    width: 100%;
    height: 164px;
}
#bg1{ 
    width: 100%;
    height: 332px;
}
#bg2{ 
    width: 100%;
    height: 164px;
}

/*------------------Расположение блоков на сетке-----------------*/
#msg {
    grid-area: msg;
}

#progress {
    grid-area: progress;
}

#ntf {
    grid-area: ntf;
}

#lessons {
    grid-area: lessons;
}
/*---------------------------------------------------------------*/

#lessons_title_space{
    position: absolute;
    top: -2%;
    left: 0%;
    width: 102%;
    height: 33%;
    background-color: var(--background_main_page);
    z-index: 2;
}

#lessons_title_big{
    position: absolute;
    top: 0%;
    left: -2px;
    width: 85%;
    height: 33%;
    background-color: black;
    border-radius: 30px 50px 0px 0px;
    z-index: 3;
}

#lessons_title_mini{
    position: absolute;
    top: 18%;
    left: 2px;
    width: 100%;
    height: 15%;
    background-color: black;
    border-radius: 0% 7% 0% 0%;
    z-index: 3; 
}

#lessons_title_right_space{
    position: absolute;
    top: 0%;
    left: 79%;
    width: 22%;
    height: 25%;
    background-color: var(--background_main_page);
    border-radius: 0 0 0 50px;
    z-index: 4; 
}

#projects {
    grid-area: projects;
}

#records {
    grid-area: records;
}