:root {

    /*цвета*/
    --background_main_page: #e2e2e2;
    --text_color: #000;
    --header_color: #009aad;

    --color_progress_left_coef_red: 0;
    --color_progress_left_coef_green: 154;
    --color_progress_left_coef_blue: 173;

    --color_progress_right_coef_red: 255;
    --color_progress_right_coef_green: 255;
    --color_progress_right_coef_blue: 255;

    --difference_red: calc((var(--color_progress_left_coef_red) - var(--color_progress_right_coef_red)) / 3);
    --difference_green: calc((var(--color_progress_left_coef_green) - var(--color_progress_right_coef_green)) / 3);
    --difference_blue: calc((var(--color_progress_left_coef_blue) - var(--color_progress_right_coef_blue)) / 3);

    /*размеры шрифтов*/
    --font_size_headers_multi: 1;
    --font_size_records_text_multi: 1;
    --header_font_size: min(24px, 1.6vw, 3.2vh);
    --font_size_big: min(2.4vh, 1.4vw);
    --font_size_medium: min(2.2vh, 1.2vw);
    --font_size_little: min(2vh, 1vw);
    --font_size_extra_small: min(1.6vh, 0.8vw);

    /*Размеры фотографий*/
    --size-friend-avatar: min(5vh, 3vw);
    --size-input-form-chat: min(2.5vh, 1.5vw);
    --size-smile:min(2vh, 1vw);

    /*Отспуты*/
    --top_forms_header: 3%;
    --left_forms_header: 0.7em;
    --top_forms_preheader: 2.5em;
    --left_forms_preheader: 60%;
    --p_beet_clicks: 11.5em;

    --top_lessons_title: 36%;
    --top_lessons_text: 54%;

    --top_ntf_text: 15%;
    --left_ntf_text: 5%;

    --top_records_video_and_title: 28%;
    --left_records_video: 5%;
    --heigth_video_description: 2.6vw;
    --top_records_text: 40%;
    --top_records_date: 54%;
    --left_records_description: 45%;

    --top_projects_block: 60px;
    --top_projects_text: 135px;
    --left_projects_text: 18px;

    --msg_friends_list_width: 60%;
    --chat_height: 80%;
}

/*------------------Стили для текста на странице-----------------------------*/

#main_page {
    flex: 1;
    background-color: var(--background_main_page);
    font-size: max(calc(var(--font_size_medium) * var(--font_size_headers_multi)), 14px);
    color: var(--text_color);
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    display: flex
}

#main_content {
    height: 87%;
    width: 100%;
    padding: 4%;
    display: grid;
    grid-template-columns: 1fr 1.7fr 1.35fr;
    grid-template-rows: 1.25fr 1fr 2fr;
    gap: 4% 4%;
    grid-auto-flow: row;
    grid-template-areas: "progress progress ntf" "lessons projects ntf" "msg msg records"
}

#main_content>* {
    background-position: none;
    position: relative;
    object-fit: inherit;
    background-repeat: no-repeat;
}

#main_content>div:not(#progress)>* {
    position: absolute
}

#projects {
    grid-area: projects
}

#msg {
    grid-area: msg
}

#progress {
    grid-area: progress
}

#ntf {
    grid-area: ntf
}

#lessons {
    grid-area: lessons
}

#records {
    grid-area: records
}

.msg_header, .projects_header, .records_header, .lessons_header, .ntf_header, .records_preheader{
    width: 100%;
    display: flex;
    align-items: center;
}

.lessons_header{
    height: 30%;
}

.msg_header {
    height: 12%;
}

.projects_header {
    height: 27%;
}

.records_header {
    height: 13%;
}

.ntf_header{
    height: 13%;
}

.records_preheader{
    height: 12%;
    top: 12%;
}

.lessons_header_title, .msg_header_title, .projects_header_title,
.ntf_header_title, .records_header_title, .records_preheader_title_60,
.records_preheader_title {
    font-size: max(calc(var(--font_size_big) * var(--font_size_headers_multi)), 16px);
    color: var(--header_color);
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
}

.lessons_header_title, .ntf_header_title{
    padding-left: 0.5em;
}

.msg_header_title {
    width: 25%;
    padding-left: 1.5%;
}

.projects_header_title {
    width: 42%;
    padding-left: 2.5%;
}

.records_header_title {
    width: 30%;
    padding-left: 3%;
}

.records_preheader_title, .records_preheader_title_60{
    width:40%;
    justify-content: center;
    position: relative;
}

.records_preheader_title_60{
    width:60%;
    padding-top: 1%;
    font-size: max(calc(var(--font_size_little) * var(--font_size_headers_multi)), 12px);
}

.lessons_text {
    width: 96%;
    z-index: 1;
    text-align: right
}

#lessons_title {
    top: var(--top_lessons_title);
    font-weight: 700;
    font-size: max(calc(var(--font_size_big) * var(--font_size_headers_multi)), 16px);
    text-decoration: underline;
}

#lessons_text {
    top: var(--top_lessons_text);
    font-size: max(calc(var(--font_size_little) * var(--font_size_headers_multi)), 12px);
    line-height: 115%;
}

.lessons_cards{
    display: none;
    width: 100%;
    top:24%;
    height: 66%;
    justify-content: space-around;
    padding-top: 2%;
}

.lessons_card, .lessons_card_active{
    width: 18%;
    height: 75%;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 1;
    padding: 1%;
    line-height: 130%;
    font-size: max(calc(var(--font_size_little) * var(--font_size_headers_multi)), 10px);
}

.lessons_card_active{
    font-weight: 700;
    box-shadow: 0 0 5px #009aad;
}

#ntf_wrapper {
    width: 94%;
    height: 85%;
    bottom: 0;
    right: 0
}

#ntf_text {
    position: relative;
    font-size: max(var(--font_size_big), 16px);
    width: 95%;
    padding-bottom: 5%;
    font-weight: 600;
    z-index: 1;
    font-family: 'Oswald', sans-serif;;
    line-height: 1.2em
}

#records_logo {
    width: min(3.5vh, 2vw);
    z-index: 1;
}

.records_content{
    top: 26%;
    height: 74%;
}

.records_video, .records_video2 {
    width: 100%;
    height: 50%;
    display: flex;
    top: var(--top_records_video_and_title);
    z-index: 1;
}

.records_video2{
    top: 62%;
}

.video_description{
    width: 57%;
    padding-left: 3%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.video_photo{
    width: 37%;
    padding-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video_description_wrapper,
.video_img{
    width: max(90%, 120px);
    object-fit: cover;
    z-index: 1;
}

.records_title{
    font-size: max(calc(var(--font_size_little) * var(--font_size_records_text_multi)), 16px);
    font-weight: 700;
}

.records_text, .records_date{
    font-size: max(calc(var(--font_size_extra_small) * var(--font_size_records_text_multi)), 12px);
    line-height: 120%;
    height: var(--heigth_video_description);
    display: flex;
    align-items: center;
}

.records_date{
    height: 25%;
}

#projects_wrapper {
    width: 90%;
    padding: 0 5%;
    margin-top: 6vh;
    height: 50%;
    justify-content: space-around;
    display: flex;
    z-index: 1
}

.projects_block {
    width: 18%;
    text-align: center
}


.projects_photo {
    width: min(40px, 4vw);
    height: min(60px, 6.5vh);
    object-fit: contain
}

.projects_text {
    font-size: max(calc(var(--font_size_extra_small) * var(--font_size_records_text_multi)), 11px);
    padding-top: 0.5vh
}

#progress {
    background-image: url(/static/img/progess_background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 30px;
    position: relative
}

#result_progress, #progress_main_title{
    position: absolute;
}

#progress_main_title {
    top: 1.6vh;
    font-size: calc(var(--font_size_medium) * var(--font_size_records_text_multi));
    left: 16%;
    background: linear-gradient(45deg, #009aad 33%, #2aabba 66%, #55bcc8)
}

#result_progress {
    top: 87%;
    left: 32%;
    font-size: calc(var(--font_size_medium) * var(--font_size_headers_multi));
    line-height: calc(var(--font_size_big) * var(--font_size_headers_multi));;
    background: linear-gradient(45deg, #55bcc8 33%, #aadee3 66%, #fff)
}

#areas_progress,
.point_progress {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center
}

#areas_progress>div {
    position: relative;
    width: 2em;
    text-align: center;
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    font-size: 2em
}

#attendance_progress,
#attendance_progress_title {
    color: rgb(var(--color_progress_left_coef_red), var(--color_progress_left_coef_green), var(--color_progress_left_coef_blue))
}

#areas_progress>::after,
.point_progress>::before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 2px
}

#areas_progress>::after {
    top: -1.8em;
    left: -1em;
    border-radius: 50%;
    width: 4em;
    height: 4em
}

#protected_projects_progress,
#protected_projects_progress_title {
    color: rgb(calc(var(--color_progress_left_coef_red) - var(--difference_red)), calc(var(--color_progress_left_coef_green) - var(--difference_green)), calc(var(--color_progress_left_coef_blue) - var(--difference_blue)))
}

#failed_deadlines_progress,
#failed_deadlines_progress_title {
    color: rgb(calc(var(--color_progress_left_coef_red) - var(--difference_red)*2), calc(var(--color_progress_left_coef_green) - var(--difference_green)*2), calc(var(--color_progress_left_coef_blue) - var(--difference_blue)*2))
}

#mark_progress,
#mark_progress_title {
    color: rgb(var(--color_progress_right_coef_red), var(--color_progress_right_coef_green), var(--color_progress_right_coef_blue))
}

.point_progress {
    position: absolute;
    top: 65%;
    left: 0;
    height: 20%
}

.point_progress>*>span {
    position: absolute;
    z-index: 1
}

.point_progress>* {
    width: 25%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

.point_progress>::before {
    left: 15%;
    z-index: 0;
    background-color: #000;
    width: 70%;
    height: 140%;
    border-radius: 8px
}

#friends_block {
    width: 100%;
    height: 27vh;
    top: 24%;
    z-index: 1;
}

#friends_block>* {
    position: static;
    box-sizing: border-box;
}

#friends_block_title {
    box-sizing: border-box;
    width: var(--msg_friends_list_width);
    display: flex;
    padding-left: 1.4em;
    justify-content: space-between;
    align-items: center;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: max(calc(var(--font_size_little) * var(--font_size_headers_multi)), 14px);
    line-height: max(calc(var(--font_size_little) * var(--font_size_headers_multi)), 14px);
    color: var(--header_color);
}

#msg_title {
    width: 100%;
    height: 12%;
    top: 12%;
    display: flex;
    z-index: 1;
}

#chat_block_title {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - var(--msg_friends_list_width));
    position: relative;
}

#interlocutor_avatar {
    position: relative;
    top: 0.7em;
    left: 0.5em;
    width: max(calc(var(--size-friend-avatar) * var(--font_size_headers_multi)), 45px);
    height: max(calc(var(--size-friend-avatar) * var(--font_size_headers_multi)), 45px);
    border-radius: 50%;
    border: 3px solid white;
    transition: border-color 0.5s ease-in-out;
}

#interlocutor_avatar::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 50%;
    border: 3px solid #009aad;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}

#interlocutor_avatar:hover {
    border-color: #009aad;
}

#interlocutor_avatar:hover::before {
    opacity: 1;
}

#interlocutor {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: max(calc(var(--font_size_little) * var(--font_size_headers_multi)), 14px);
    line-height: max(calc(var(--font_size_little) * var(--font_size_headers_multi)), 14px);
    color: var(--header_color);
    width: 35%;
}

#interlocutor_lso {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: max(calc(var(--font_size_extra_small) * var(--font_size_headers_multi)), 12px);
    line-height: max(calc(var(--font_size_little) * var(--font_size_headers_multi)), 14px);
    color: #5E5E5E;
    text-align: center;
}


#friends_logo {
    width: 3vh;
    height: 2.5vh;
    padding-left: 2%;
}

#friend_fullname_title {
    width: 0%;
    text-align: center;
}

#friend_course_title {
    width: 38%;
    text-align: center;
}

#msg_content_block {
    box-sizing: border-box;
    height: 98%;
    width: 100%;
    display: flex;
}

#msg_box {
    width: calc(100% - var(--msg_friends_list_width));
    height: 100%;
    box-sizing: border-box;
}

#chat {
    width: 100%;
    height: var(--chat_height);
    display: flex;
    justify-content: center;
    align-items: center;
}

#ntf_not_msg {
    width: 70%;
    height: auto;
    text-align: justify;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: max(calc(var(--font_size_extra_small) * var(--font_size_records_text_multi)), 14px);
    line-height: 1.3em;
    text-align: center;
    color: #000000;
}

#msg_box *,
#msg_box {
    box-sizing: border-box;
}

#msg_box>form {
    width: 99%;
    height: calc(100% - var(--chat_height) - 1%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 2% 4% 1% 1%;
}

#chat_smile_logo,
#chat_input_form,
#chat_send_button {
    height: 80%;
}

#chat_paperclip_logo {
    width: calc(var(--size-input-form-chat) * var(--font_size_headers_multi));
    height: calc(var(--size-input-form-chat) * var(--font_size_headers_multi));
}

#chat_input_form {
    position: relative;
    width: 70%;
    height: calc(var(--size-input-form-chat) * var(--font_size_headers_multi));
    display: flex;
    align-items: center;
}

#chat_input_form input {
    width: 100%;
    height: 100%;
    padding: 1% 0 0 10%;
    border: 1px solid black;
    border-radius: 5px;
    font-size: calc(var(--font_size_extra_small) * var(--font_size_records_text_multi));
}

.smile{
    position: absolute;
    width: calc(var(--size-smile) * var(--font_size_headers_multi));
    height: calc(var(--size-smile) * var(--font_size_headers_multi));
    left: 2%;
    z-index: 2;
}

#chat_send_button {
    width: calc(var(--size-input-form-chat) * var(--font_size_headers_multi));
    height: calc(var(--size-input-form-chat) * var(--font_size_headers_multi));
}

#friends_block_content {
    width: var(--msg_friends_list_width);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: #000 1px solid;
}

.friend_infoline {
    box-sizing: border-box;
    padding: 0 3% 0 3%;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: box-shadow, border-radius 0.3s ease-in-out;
}

.friend_infoline:hover {
    border-radius: 50px;
    box-shadow: 0 0 15px #009aad;
}

.friend_avatar {
    width: max(calc(var(--size-friend-avatar) * var(--font_size_headers_multi)), 50px);
    height: max(calc(var(--size-friend-avatar) * var(--font_size_headers_multi)), 50px);
    background-color: #009aad;
    border-radius: 50%;
    position: relative;
}

.online::before{
    content: "";
    position: absolute;
    z-index: 2;
    display: block;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-image: url("/static/img/msg/online.png");
}

.offline::after{
    content: "";
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    background-image: url("/static/img/msg/offline.png");
}

.mobile::after{
    content: "";
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    background-image: url("/static/img/msg/mobile.png");
}

.friend_fullname, .friend_course{
    text-align: center;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 600;
    font-size: max(calc(var(--font_size_little) * var(--font_size_headers_multi)), 14px);
    line-height: max(calc(var(--font_size_little) * var(--font_size_headers_multi)), 14px);
    width: 50%;
    color: #000;
}

.friend_course {
    width: 30%;
    color: #5E5E5E;
}

#progress>span {
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}