:root {
    --main_color: #009aad;
    --additional_color: white;
    --background_menu_color: black;

    --header_height: 7vh;
    --font_size_nav_multi: 1;

    --IC_logo_width: 3.5vw;
    --IC_logo_ml: 2vw;
    --IC_logo_height: 4.5vh;
    --IC_logo_font_size: min(3vh, 3vw);
    --IC_logo_border_radius: min(2vh, 1vw);
    --IC_logo_border_width: max(1px, 0.2vw);

    --IC_logo_title_font_size: min(3vh, 3vw);
    --IC_logo_title_ml: 1.5vw;

    --header_right_content_gap: max(5%,2vw);
    --header_right_content_mr: 2.5vw;
    --header_right_content_font_size: min(2vh, 3vw);

    --nav_width: 14%;
    --nav_menu_point_font_size: min(1.8vh, 1vw);
    --nav_menu_pont_mb: min(0.9vh, 0.5vw);
    --nav_menu_line_height: 5vh;

    --user_avatar_size: 6vw;
    --user_avatar_mt: 5vh;
    --user_avatar_mb: 3vh;

    --user_full_name_mb: 1vh;

    --focus_point_size: 0.4em;
}

@keyframes slide {
    0% {
        left: -300%
    }

    to {
        left: 1000%
    }
}

a {
    text-decoration: none;
    color: inherit
}

body {
    overflow: hidden
}

header {
    height: var(--header_height);
    width: 100vw;
    background-color: var(--background_menu_color);
    display: flex;
    align-items: center;
    border-bottom: var(--main_color) solid 3px
}

#IC_logo {
    border: var(--IC_logo_border_width) solid #009aad;
    width: var(--IC_logo_width);
    height: var(--IC_logo_height);
    border-radius: var(--IC_logo_border_radius);
    text-align: center;
    margin-left: var(--IC_logo_ml);
    display: table;
    flex: initial
}

#IC_logo_text,#IC_title {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 700;
    color: var(--main_color)
}

#IC_logo_text {
    display: table-cell;
    vertical-align: middle;
    font-size: var(--IC_logo_font_size);
    line-height: 31px
}

#IC_title {
    margin-left: var(--IC_logo_title_ml);
    font-size: var(--IC_logo_title_font_size);
    line-height: 42px;
    text-align: center;
    flex: initial
}

#header_avatar{
    display: none;
}

#header_right {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    flex: 1
}

#header_right_content {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    font-size: var(--header_right_content_font_size);
    line-height: 28px;
    color: var(--additional_color);
    margin-right: var(--header_right_content_mr)
}

#header_right_content a:first-child {
    padding-right: var(--header_right_content_gap)
}

main,nav {
    display: flex
}

nav {
    background-color: #000;
    width: var(--nav_width);
    height: calc(100vh - var(--header_height));
    flex-direction: column;
    align-items: center;
    color: var(--additional_color);
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--nav_menu_point_font_size) * var(--font_size_nav_multi));
    line-height: var(--nav_menu_line_height);
    flex: initial
}

nav a:not(:first-of-type) {
    margin-bottom: var(--nav_menu_pont_mb)
}

nav a:hover {
    color: var(--main_color)
}

#exit_link,nav a {
    transition: color 1s ease-in-out
}

#exit_link:hover {
    color: #ad3838
}

#user_avatar {
    margin: var(--user_avatar_mt) auto var(--user_avatar_mb);
    background-image: url(/static/img/user_avatar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    width: var(--user_avatar_size);
    height: var(--user_avatar_size)
}

#user_full_name {
    margin-bottom: var(--user_full_name_mb)
}

#focus_point{
    position: relative;
}

#focus_point::after{
    border-radius: 50%;
    position: absolute;
    content: '';
    width: var(--focus_point_size);
    height: var(--focus_point_size);
    left: -3em;
    top: 1em;
    background-color: var(--additional_color);
}

.flicker_light {
    position: relative;
    overflow: hidden
}

.flicker_light::before {
    content: "";
    position: absolute;
    top: 0;
    left: -300%;
    width: 50%;
    height: 100%;
    background: linear-gradient(110deg,transparent 0,#fff 40%,#fff 60%,transparent 100%);
    filter: blur(5px);
    animation: slide 10s ease-in-out infinite
}