<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/authorization.css">    
</head>
<body>
    <canvas id="matrix_background"></canvas>
    <section id="authorization_page_content">
        <div class="attributes_container">
            <div id="Company_title">
                Ikigai Creative
            </div>
            <div id="Company_logo">
                Ikigai Creative
            </div>
        </div> 
        <section id="authorization_form">

        </section>
    </section>
    <script type="module" src="/static/scripts/matrix/main.js"></script>
</body>
</html>