<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/lc_styles.css">
    <title>Главная страница</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/lc_main.css">
</head>

<body>
    <header>
        <div id="IC_logo" class="flicker_light">
            <div id="IC_logo_text">IC</div>
        </div>
        <div id="IC_title">
            Ikigai Creative
        </div>
        <div id="header_right">
            <div id="header_right_content">
                <a href="#">RU</a>
                <a id="exit_link" href="#">Выйти</a>
            </div>
        </div>
    </header>
    <main>
        <nav>
            <div id="user_avatar"></div>
            <span id="user_full_name">Мария Добренко</span>
            <a href="#">
                <div>
                    <div id="focus_point"></div>
                </div>Главная
            </a>
            <a href="#">Расписание</a>
            <a href="#">Мои курсы</a>
            <a href="#">Мои проекты</a>
            <a href="#">Кодревью</a>
            <a href="#">Записи уроков</a>
            <a href="#">Мессенджер</a>
            <a href="#">Каталог курсов</a>
            <a href="#">Мои бонусы</a>
            <a href="#">Сертефикаты</a>
            <a href="#">Настройки</a>
        </nav>
        <section id="main_page">
            <div id="main_content">
                <div id="progress">
                </div>
                <div id="lessons">
                    <snap id="forms_header">Ближайшие уроки</snap>
                    <snap id="lessons_title">Python 30 матра 14:30</snap>
                    <snap id="lessons_text">web-дизайн 2 апреля<br>
                                            C++ 2 апреля<br>
                                            JavaScript 4 апреля</snap>
                    <img src="/static/img/form_lessons.png">

                </div>
                <div id="projects">
                    <snap id="forms_header">Ваши проекты</snap>
                    <snap id="forms_header_2">Кодревью</snap>
                   <img src="/static/img/form_projects.png">
                </div>
                <div id="msg">
                    <snap id="forms_header">Одногруппники</snap>
                    <snap id="forms_header_2">Преподаватели</snap>
                    <snap id="forms_header_3">Поддержка</snap>
                    <img src="/static/img/form_chats.png">
                </div>
                <div id="ntf">
                    <snap id="forms_header">Уведомления</snap>
                    <snap id="ntf_text">· &nbsp&nbspЗавтра дедлайн по проекту: ”Автоматизация СУБД”.<br><br>
                        · &nbsp&nbspВам задано новое домашнее задание: “Разработка макета сайта продуктового магазина”.<br><br>
                        · &nbsp&nbspЧерез 4 дня кончается ваш абонимент по крсу “Python”.<br><br>
                        · &nbsp&nbspTomorrow is the deadline for the project: ”DBMS automation".
                    </snap>
                    <img src="/static/img/form_ntf.jpg">
                </div>
                <div id="records">
                    <snap id="forms_header">Записи</snap>
                    <snap id="forms_header_2_1">Доп.материалы</snap>
                    <snap id="forms_preheader">Описание</snap>
                    <img src="/static/img/video1.jpg" id="records_video">
                    <snap id="records_title">C++ урок 16</snap>
                    <snap id="records_text">Разбор логических операторов в схемах.</snap>
                    <span id="records_date">28.03.2023</span>
                    <snap id="records_title_2">Python урок 21</snap>
                    <snap id="records_text_2">Изучение модулей numpy и tkinter и их использование.</snap>
                    <span id="records_date_2">28.03.2023</span>
                    <img src="/static/img/video2.png" id="records_video2">
                   <img src="/static/img/form_records.png" id="bg">
                </div>
            </div>
        </section>
    </main>
</body>

</html>