@media (max-width: 1424px){
    .records_text{
        height: auto;
        padding: 3% 0;
    }
}

@media (max-width: 1279px) {
    :root{
    --font_size_headers_multi: 1.3;
    --font_size_nav_multi: 1.5;
    --font_size_records_text_multi: 1.5;
    --heigth_video_description: 4.6vw;
    --top_lessons_title: 30%;
    --top_lessons_text: 46%; 
    --chat_height: 84%;
    }
    #main_page {
        overflow: auto;
    }
    nav{
        width: 20%;
    }
    #main_content {
        width: 100%;
        height: 140%;
        padding: 4%;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 0.8fr 0.6fr 1fr 1.2fr;
        gap: 3vw 4.5%;
        grid-auto-flow: row;
        grid-template-areas: "progress progress" "lessons projects" "ntf records" "msg msg"
    }
    .lessons_header, .projects_header, .ntf_header, .msg_header, .records_header{
        background-color: black;
        z-index: 1;
        border-radius: 10px 10px 0 0;
        border-bottom: 1px solid black;
    }

    .lessons_header, .projects_header, .ntf_header{
        justify-content: center;
    }
    .lessons_header{
        height: 24%;
    }
    .projects_header{
        height: 24%;
    }
    .ntf_header{
        height: 16.4%;
    }
    .records_header{
        height: 16.4%;
    }
    .msg_header{
        height: 13%;
    }
    #ntf_wrapper{
        height: 80%;
    }
    .projects_header_title{
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .records_header_title{
        width: 50%;
        justify-content: center;
    }
    .msg_header_title{
        width: 33%;
        padding: 0;
        justify-content: center;
    }

    .no_active_title{
        background-color: rgb(84, 84, 84);
        border-radius: 0 10px 0 0;
    }
    .no_active_title_cent{
        width: 34%;
        background-color: rgb(43, 43, 43);
    }

    #lessons_text{
        line-height: 140%;
    }

    #projects_wrapper{
        height: 70%;
        width: 100%;
        padding: 0;
        justify-content: center;
    }
    #ntf_text{
        padding-bottom: 2%;
    }
    .records_preheader{
        top:16%;
    }
    #records_logo{
        width: min(4vh, 2.5vw);
    }
    #msg_title{
        height: 11%;
    }
    #friends_block{
        height: 77%;
        top: 23%;
    }
    #chat_input_form{
        height: 75%;
    }
    .video_img{
        width: 80%;
    }
    .records_video2{
        top: 64%;
    }
    .records_video{
        top: 30%;
    }
    .records_content{
        top: 28%;
        height: 72%;
    }
}

@media (max-width: 759px) {
    :root{
        --font_size_headers_multi: 1.5;
        --font_size_nav_multi: 1.7;
        --font_size_records_text_multi: 2;
        --heigth_video_description: 4.6vw;
        --top_lessons_title: 30%;
        --top_lessons_text: 46%; 
        --chat_height: 84%;
    }

    #main_content {
        width: 100%;
        height: 140%;
        padding: 4%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 0.6fr 0.6fr 0.6fr 1fr 1.2fr;
        gap: 3vw 4.5%;
        grid-auto-flow: row;
        grid-template-areas: "progress" "lessons" "projects" "ntf" "records" "msg"
    }

    .records_header, .msg_header{
        height: 12.3%;
    }

    #msg_box, #chat_block_title{
        display: none;
    }

    #friends_block_content, #friends_block_title{
        border-right: 0;
        width: 100%;
    }
    #ntf_text {
        font-size: max(calc(var(--font_size_medium) * var(--font_size_headers_multi)), 12px);
    }
    .friend_avatar {
        width: max(calc(var(--size-friend-avatar) * var(--font_size_headers_multi)), 35px);
        height: max(calc(var(--size-friend-avatar) * var(--font_size_headers_multi)), 35px);
    }
    .lessons_header_title, .msg_header_title, .projects_header_title,
    .ntf_header_title, .records_header_title, .records_preheader_title_60,
    .records_preheader_title {
        font-size: max(calc(var(--font_size_big) * var(--font_size_headers_multi)), 12px);
    }
    .records_title{
        font-size: max(calc(var(--font_size_little) * var(--font_size_records_text_multi)), 14px);
    }
    .friend_fullname, .friend_course{
        font-size: max(calc(var(--font_size_little) * var(--font_size_headers_multi)), 12px);
        line-height: max(calc(var(--font_size_little) * var(--font_size_headers_multi)), 12px);
    }
    #friends_block_title {
        font-size: max(calc(var(--font_size_little) * var(--font_size_headers_multi)), 12px);
    }
    .records_preheader{
        display: none;
    }
    #projects_wrapper{
        margin-top: 4vh;
    }
    .records_content{
        display: flex;
        top: 20%;
        height: 80%;
        justify-content:space-evenly;
    }
    .records_video, .records_video2{
        display: block;
        width: 49%;
    }
    .video_photo{
        display: flex;
        width: 100%;
    }
    .video_description{
        width: 100%;
        justify-content: center;
        padding-left: 0;
    }
    .video_description_wrapper{
        margin-top: 5%;
        padding-left: 15%;
        width: 100%;
    }
    .video_img{
        width: max(50%, 140px);
    }
    .projects_photo{
        width: min(40px, 7vw);
        height: min(60px, 10vh);
    }
    .lessons_cards{
        display: flex;
    }
    .lessons_text{
        display: none;
    }
}